<% provide(:title, 'Välkommen') %>

<div class="center hero-unit" id="hero">
	<h1>Välkommen till Akodemi</h1>

	<h2>
		Här kommer det stå en hel del text som beskriver sidan på ett bra
		och förklarande sätt.
	</h2>

	<%= link_to "Gå med!", '#', class: "btn btn-large btn-primary" %>
</div>