<% provide(:title, "Gå med") %>

<h1>Gå med i Akodemi</h1>

<div class="row">
	<div class="span6 offset2">

		<%= form_for @user, html: { class: "form-horizontal" } do |f| %>

			<%= render 'fields', f: f %>
			<%= f.submit 'Gå med!', class: "btn btn-primary", id: "form-button" %> 

		<% end %>
	</div>
</div>