@import 'bootstrap';

/* Variables and mixins */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Hero unit */

#hero {
	margin-top: -20px;
	background: white;
}

#logo {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;

	&:hover {
		color: $white;
		text-decoration: none;
	}
}

/* Form */

input[type="file"] {
	line-height: 10px;
}

.simple_form label {
	position: relative;
	float: left;
	text-align: right;
	margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form textarea {
	width: 100%;
}

.simple_form input {
	width: 100%;
}

.simple_form .error {
  clear: left;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

// input, textarea, select, .uneditable-input {
//   border: 1px solid #bbb;
//   width: 100%;
//   margin-bottom: 15px;

//   @include box_sizing;
// }

// input {
//   height: auto !important;
// }

/*  universal */

.row {
	margin-top: 20px;
}

label {
	cursor: default;
}

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* Sidebar */

aside {
	section {
		padding: 10px 0;
		border-top: 1px solid $grayLight;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
	}
}

