<div id="header-shadow">
	<header>
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<%= link_to "Akodemi", '#', id: 'logo' %>
				<ul class="nav pull-left">
					<li><%= link_to "Gå med", '#' %></li>
					<li><%= link_to "Alla jobb", '#' %></li>
				</ul>
				<ul class="nav pull-right">
					<li><%= link_to "Logga in", '#' %></li>
				</ul> 
			</div>
		</div>
	</header>
</div>
